<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: headFragment"></head>

<body id="page-top">

<!-- Navigation-->
<th:block th:replace="fragments/menu"></th:block>

<!-- Page Content-->
<div class="container-fluid p-0">
    <section class="resume-section" id="about">


        <div th:each="board : ${mbtiBoard}" class="resume-section-content">
            <!-- 게시글 양식 -->
            <form>
                <input type="hidden" id="boardnoId" name="boardno" th:value="${board.boardno}" />

                <div class="mb-5"><h3>mbti 유형</h3>
                    <div>
                        <select id="mbtiId" name="mbti"  th:value="${board.mbti}">
                            <option value="E" th:selected="${board.mbti}=='E'">E</option>
                            <option value="I" th:selected="${board.mbti}=='I'">I</option>
                            <option value="N" th:selected="${board.mbti}=='N'">N</option>
                            <option value="S" th:selected="${board.mbti}=='S'">S</option>
                            <option value="F" th:selected="${board.mbti}=='F'">F</option>
                            <option value="T" th:selected="${board.mbti}=='T'">T</option>
                            <option value="J" th:selected="${board.mbti}=='J'">J</option>
                            <option value="P" th:selected="${board.mbti}=='P'">P</option>
                        </select>
                    </div>
                </div>


                <div class="mb-5"> <h3>키워드 작성</h3>
                    <div>
                        <input type="text" id="contentId" name="content" maxlength="50" placeholder="추천 키워드를 적어주세요!" th:value="${board.content}"/>
                    </div>
                </div>


                <!-- 하단 글작성 버튼 -->
                <div class="d-flex flex-column flex-md-row justify-content-between">
                    <div class="flex-grow-1">
                    </div>
                    <div class="flex-shrink-0">
                        <button class="text-primary" type="button" th:onclick="validationCheck()">등록</button>
                    </div>
                </div>


            </form>
        </div>

    </section>

</div>

<!-- common/js -->
<th:block th:replace="common/js :: jsFragment"><</th:block>
</body>
</html>

<!-- script -->
<script th:inline="javascript">

    // form 태그
    let form = document.mbtiboardwrite;


    // 유효성 검사
    function validationCheck(){


        let contentValue = $("#contentId").val();


        if(contentValue.length<1){
            alert("내용을 입력해주세요!");
            return false;
        }

        let data = {
          mbti : $("#mbtiId option:selected").val(),
          content : $("#contentId").val()

        };

        let boardnoId = $("#boardnoId").val();

        $.ajax({
            type : 'PUT',
            url : '/mbtiBoards/modify/'+boardnoId,
            data : JSON.stringify(data),
            contentType : 'application/json; charset=utf-8',
            dataType : 'json'
        }).done(function(r) {

            alert('게시글 수정을 완료했습니다.');
            location.href = '/mbtiBoards';

        }).fail(function(error) {
            let message = JSON.parse(error.responseText);
        });


    }


    $(document).ready(function () {

        // url에 따른 메뉴 탭 active 효과 적용
        let url = window.location.href;

        let menuTapId = "";

        if (url.indexOf("/mbtiBoards") != -1) {
            menuTapId = "mbtiBoards";
        } else if (url.indexOf("/mbtiTest") != -1) {
            menuTapId = "mbtiTest";
        } else if (url.indexOf("/loginJoin") != -1) {
            menuTapId = "loginJoin";
        } else if (url.indexOf("/usedSkills") != -1) {
            menuTapId = "usedSkills";
        } else if (url.indexOf("/mypage") != -1){
            menuTapId = "mypage";
        }



        $("#" + menuTapId).attr("class", "nav-link js-scroll-trigger active");

    });
</script>