<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: headFragment"></head>

<body id="page-top">

<!-- Navigation-->
<th:block th:replace="fragments/menu"></th:block>

<!-- Page Content-->
<div class="container-fluid p-0">


  <!-- About-->
  <section class="resume-section" id="about">
    <div class="resume-section-content">
      <h2 class="mb-0">
        MBTI
        <span class="text-primary">유형을 입력해주세요!</span>
      </h2>


      <div class="subheading mb-5">
      </div>

      <form action="" name="mbtiFindForm" method="get" onsubmit="return validationCheck()">

        <!-- mbti -->
        <div class="login-sns">
            <div class="mb-5">
              <div>

                <select name="mbti" style="height: 40px; width: 100px;">
                  <option value="ENFJ">ENFJ</option>
                  <option value="ENTJ">ENTJ</option>
                  <option value="ENFP">ENFP</option>
                  <option value="ENTP">ENTP</option>
                  <option value="ESFJ">ESJF</option>
                  <option value="ESTP">ESTP</option>
                  <option value="ESTJ">ESTJ</option>
                  <option value="INFP">INFP</option>
                  <option value="INFJ">INFJ</option>
                  <option value="INTP">INTP</option>
                  <option value="ISTP">ISTP</option>
                  <option value="ISFP">ISFP</option>
                  <option value="ISTJ">ISTJ</option>
                  <option value="INTJ">INTJ</option>
                </select>
              </div>
            </div>

            <div class="mb-5">
              <div>
                <button class="text-primary" type="submit" th:text="결과보기" style="width: auto"></button>
              </div>
            </div>
        </div><!-- end of mbti -->

        <h3 class="mb-0" style="text-align: right; margin-top: 30px;">
          MBTI에 대한 사람들의 생각을 보여줍니다!
        </h3>
      </form>

    </div>
  </section>



</div>

<!-- common/js -->
<th:block th:replace="common/js :: jsFragment"><</th:block>
</body>
</html>

<!-- script -->
<script th:inline="javascript">

  let form = document.mbtiFindForm;

  function validationCheck(){

    form.action = "/mbtiTest/result";

    alert("!");

    return true;
  }



  $(document).ready(function () {

    // url에 따른 메뉴 탭 active 효과 적용
    let url = window.location.href;

    let menuTapId = "";

    if (url.indexOf("/mbtiBoards") != -1) {
      menuTapId = "mbtiBoards";
    } else if (url.indexOf("/mbtiTest") != -1) {
      menuTapId = "mbtiTest";
    } else if (url.indexOf("/loginJoin") != -1) {
      menuTapId = "loginJoin";
    }


    $("#" + menuTapId).attr("class", "nav-link js-scroll-trigger active");

  });

</script>