<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: headFragment"></head>

<body id="page-top">

<!-- Navigation-->
<nav th:replace="fragments/menu :: menuFragment" class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav"></nav>

<!-- Page Content-->
<div class="container-fluid p-0">


  <!-- About-->
  <section class="resume-section" id="about">
    <div class="resume-section-content">
      <h2 class="mb-0">
        MBTI
        <span class="text-primary">유형을 입력해주세요!</span>
      </h2>


      <div class="subheading mb-5">
      </div>

      <form action="" name="mbtiFindForm" method="get" onsubmit="return validationCheck()">

        <!-- mbti -->
        <div class="login-sns">
            <div class="mb-5">
              <div>

                <select name="mbtiSelectBox">
                  <option value="ENFJ">ENFJ</option>
                  <option value="ENTJ">ENTJ</option>
                  <option value="ENFP">ENFP</option>
                  <option value="ENTP">ENTP</option>
                  <option value="ESFJ">ESJF</option>
                  <option value="ESTP">ESTP</option>
                  <option value="ESTJ">ESTJ</option>
                  <option value="INFP">INFP</option>
                  <option value="INFJ">INFJ</option>
                  <option value="INTP">INTP</option>
                  <option value="ISTP">ISTP</option>
                  <option value="ISFP">ISFP</option>
                  <option value="ISTJ">ISTJ</option>
                  <option value="INTJ">INTJ</option>
                </select>
              </div>
            </div>

            <div class="mb-5">
              <div>
                <button class="text-primary" type="submit" th:text="결과보기" style="width: auto"></button>
              </div>
            </div>
        </div><!-- end of mbti -->
      </form>
    </div>
  </section>



</div>

<!-- common/js -->
<th:block th:replace="common/js :: jsFragment"><</th:block>
</body>
</html>

<!-- script -->
<script th:inline="javascript">

  function validationCheck(){

    alert("!");

    return false;
  }


</script>