<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: headFragment"></head>

<body id="page-top">

<!-- Navigation-->
<nav th:replace="fragments/menu :: menuFragment" class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav"></nav>

<!-- Page Content-->
<div class="container-fluid p-0">

  <section class="resume-section" id="education">
    <div class="resume-section-content">
      <!-- MBTI 키워드 추천하기 게시판 타이틀 -->
      <h2 class="mb-5">MBTI 키워드를 추천해주세요!</h2>

      <!-- 게시글 수정 페이지 post 방식 이동을 위한 폼태그-->
      <form action="" name="gotopage" method="post">
        <input type="hidden" id="boardnoid" name="boardno" value=""/>

        <th:block th:each="mbtiBoard : ${mbtiBoards}">
          <!--<div th:if="${mbtiBoard.status.toString().equals('F')}" class="d-flex flex-column flex-md-row justify-content-between">-->

          <th:block th:if="${!#strings.equals(mbtiBoard.status, 'T')}">
            <div class="d-flex flex-column flex-md-row justify-content-between">
              <!-- 게시물 정보 -->
              <div class="flex-grow-1">
                <h3 th:text="'MBTI : ' + ${mbtiBoard.mbti}" class="mb-0"></h3>
                <div th:text="${mbtiBoard.content}" class="subheading mb-3"></div>
                <p th:text="'작성자 : ' + ${mbtiBoard.useremail}"></p>
              </div>

              <div class="flex-shrink-0">
                <span th:text="${mbtiBoard.createdDate}" class="text-primary"></span>
                <div>
                  <button th:if="${mbtiBoard.useremail eq session.user?.getEmail()}" class="text-primary" type="submit" th:onclick="modify('[[${mbtiBoard.boardno}]]')">수정</button>
                  <button th:if="${mbtiBoard.useremail eq session.user?.getEmail()}" class="text-primary" type="button" th:onclick="deleteMbtiBoard('[[${mbtiBoard.boardno}]]')">삭제</button>
                </div>
              </div>

            </div><!-- end of div -->

           <hr/>
          </th:block>

        </th:block>
      </form>

      <!-- 하단 글작성 버튼 -->
      <div class="d-flex flex-column flex-md-row justify-content-between">
        <div class="flex-grow-1">
        </div>
        <div class="flex-shrink-0">
          <button class="text-primary" type="button" th:onclick="|location.href='@{/mbtiBoards/write}'|">키워드 작성하기</button>
        </div>
      </div>
    </div>

  </section>


</div>

<!-- common/js -->
<th:block th:replace="common/js :: jsFragment"><</th:block>
</body>
</html>

<!-- script -->
<script th:inline="javascript">


</script>