<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: headFragment"></head>

<body id="page-top">

<!-- Navigation-->
<th:block th:replace="fragments/menu"></th:block>

<!-- Page Content-->
<div class="container-fluid p-0">

  <section class="resume-section" id="education">
    <div class="resume-section-content">
      <!-- MBTI 결과 -->
      <h2 class="mb-0">
        당신의
        <span class="text-primary">MBTI는?!</span>
      </h2>

              <div class="d-flex flex-column flex-md-row justify-content-between" style="margin-top: 100px;">
                <th:block th:each="mbtiBoards : ${mbtiResultList}">
                  <!-- 게시물 정보 -->
                  <div class="flex-grow-1" style="border-right: solid; margin-left: 20px;">
                    <th:block th:each="mbtiBoard, i : ${mbtiBoards}">

                        <h2 th:if="${i.index eq 0}" th:text="${mbtiBoard.mbti}" class="mb-0"></h2>
                        <div th:text="${mbtiBoard.content}" class="subheading mb-3"></div>

                    </th:block>

                  </div>

                </th:block>
              </div><!-- end of div -->

      <h2 class="mb-0" style="text-align: right; margin-top: 100px;">
        이네요!
      </h2>


    </div>

  </section>


</div>

<!-- common/js -->
<th:block th:replace="common/js :: jsFragment"><</th:block>
</body>
</html>

<!-- script -->
<script th:inline="javascript">



  $(document).ready(function () {

    // url에 따른 메뉴 탭 active 효과 적용
    let url = window.location.href;

    let menuTapId = "";

    if (url.indexOf("/mbtiBoards") != -1) {
      menuTapId = "mbtiBoards";
    } else if (url.indexOf("/mbtiTest") != -1) {
      menuTapId = "mbtiTest";
    } else if (url.indexOf("/loginJoin") != -1) {
      menuTapId = "loginJoin";
    } else if (url.indexOf("/usedSkills") != -1) {
      menuTapId = "usedSkills";
    } else if (url.indexOf("/mypage") != -1){
      menuTapId = "mypage";
    }



    $("#" + menuTapId).attr("class", "nav-link js-scroll-trigger active");

  });

</script>