<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: headFragment"></head>
    <body id="page-top">
        <!-- Navigation-->
        <nav th:replace="fragments/menu :: menuFragment" class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav"></nav>

        <!-- Page Content-->
        <div class="container-fluid p-0">


            <!--<hr class="m-0" />

            <hr class="m-0" />-->

            <!-- Education-->
            <section class="resume-section" id="education">
                <div class="resume-section-content">
                    <h2 class="mb-5">Your MBTI Name is</h2>
                    <!--<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">University of Colorado Boulder</h3>
                            <div class="subheading mb-3">Bachelor of Science</div>
                            <p>GPA: 3.23</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">August 2006 - May 2010</span></div>
                    </div>-->

                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">James Buchanan High School</h3>
                            <div class="subheading mb-3">Technology Magnet Program</div>
                            <p>GPA: 3.56</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">August 2002 - May 2006</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">James Buchanan High School</h3>
                            <div class="subheading mb-3">Technology Magnet Program</div>
                            <p>GPA: 3.56</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">August 2002 - May 2006</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">James Buchanan High School</h3>
                            <div class="subheading mb-3">Technology Magnet Program</div>
                            <p>GPA: 3.56</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">August 2002 - May 2006</span></div>
                    </div>
                </div>
            </section>

            <!--<hr class="m-0" />


            <hr class="m-0" />


            <hr class="m-0" />-->


        </div>
            <!-- common/js -->
            <th:block th:replace="common/js :: jsFragment"><</th:block>
    </body>
</html>

<!-- script -->
<script th:inline="javascript">


    /*<![CDATA[*/
    function goToLink() {
        alert(/*[[${helloTest}]]*/);

    }
    /*]]>*/

</script>