<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="pageFragment" class="pagination">

  <ul th:with="start=${(mbtiBoards.number/10)*10 + 1},
                end=(${(mbtiBoards.totalPages == 0) ? 1 : (start + (10 - 1) < mbtiBoards.totalPages ? start + (10 - 1) : mbtiBoards.totalPages)})">

      <li th:class="${mbtiBoards.first} ? 'disabled'">
          <a th:href="${mbtiBoards.first} ? '#' :@{/mbtiBoards(page=${mbtiBoards.number-1})}" aria-label="Previous">
              <span aria-hidden="true">&lt;</span>
          </a>
      </li>

      <li th:each="page: ${#numbers.sequence(start, end)}">
          <a th:text="${page}" th:href="@{/mbtiBoards(page=${page - 1})}"></a>
      </li>

      <li th:class="${mbtiBoards.last} ? 'disabled'">
          <a th:href="${mbtiBoards.last} ? '#' : @{/mbtiBoards(page=${mbtiBoards.number + 1})}" aria-label="Next">
              <span aria-hidden="true">&gt;</span>
          </a>
      </li>

  </ul>

</div>

</html>